.piano {
  border: 1px solid #000;
  width: 600px;
  height: 300px;
  margin: auto;
  border-radius: 20px 20px 0 0;
  overflow: hidden;
  background: linear-gradient(#1e1d1d, #333); }

.piano-container {
  width: 95%;
  height: 230px;
  background: #fff;
  margin: 60px auto 0 auto; }

.piano li {
  width: 14.28%;
  height: 100%;
  float: left;
  list-style-type: none;
  position: relative; }
